<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soma Sketch Assessments</title>
    <link rel="stylesheet" href="../css/exampleStyles.css" />
    <meta name="theme-color" content="white"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />  
<link rel="apple-touch-icon" href="images/hello-icon-152.png"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
<meta name="theme-color" content="white"/>  
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class = "navbar-brand" id = "somaSketchLogo" href="../index.html">
            <img src="../img/somasketch_logo.svg" alt="Soma Sketch Logo" width = "30" height = "30" class = "d-inline-block align-top">
            Soma Sketch</a>
        <button class = "navbar-toggler" type ="button" data-toggle="collapse" data-target="#navbarPrimary">
            <span class = "navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" role="navigation" id = "navbarPrimary">        
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">	
                <li class = "nav-item">
                    <a  class ="nav-link btn btn-outline-info"href="assessments.html">Mental Health Assessments</a> 
                </li>        
                <li class = "nav-item">
                    <a  class ="nav-link btn btn-outline-info"href="canvas.html">Somatic Journal App</a> 
                </li>      
            </ul>
        <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="container">
            <div id="home" class="flex-center flex-column">
                <h1>Mental Health Assessments</h1>
                <a class = "btn btn-info" href="phq15.html">PHQ-15</a>
                <a class = "btn btn-info" href="aces.html">ACES</a>
                <a class = "btn btn-info" href="dass21.html">DASS-21</a>
                <a class = "btn btn-info" href="gad7.html">GAD-7</a>
                <a class = "btn btn-info" href="oldenberg.html">OLBI</a>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
