doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='icon' href='images/psy.png' type='image/png')
  title PHQ-15: Somatic Severity Test
  link(rel='stylesheet' type='text/css' href='exampleStyles.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
.container
  #initialScreen.row
    .col-2
    .col-8.mt-5.mb-5
      h1 PHQ-15: Somatic Symptom Severity Test
      p
        | This is a brief, 15-item questionnaire to screen and monitor somatic symptom severity in clinical practice and research.
      p
        | The 
        a(href='https://en.wikipedia.org/wiki/Patient_Health_Questionnaire#15-item_somatic_scale') PHQ-15
        |  The Patient Health Questionnaire (PHQ-15) is a somatic symptoms subscale derived from a self- administered version of the Primary Care Evaluation of Mental Disorders (PRIME-MD) diagnostic instrument for common mental disorders
      #startButton.btn.btn-warning.btn-lg.mt-1.mb-1 Start test
      p(style='font-size:10px;')
        a#signature(href='mailto:felix@somasketch.com') ./by-Soma Sketch
      p
        span#colour_red
          | THIS IS NOT A DIAGNOSIS OF DEPRESSION, ANXIETY NOR STRESS. This tool does not
          | provide medical advice and it is intended for informational purposes only
        | .
    .col-2
  #quiz.row
    header
      #testName PHQ-15: Somatic Symptom Severity Test
    .col-2
    .col-8.mt-5.mb-5
      h2 Over the last week, how often have you been bothered by...
      h2#showQuestion.response.mb-3 questions
      .row
        button#r0.button Not at all
        button#r1.button Bothered a little
        button#r2.button Bothered a lot
      p
      #hud
        #hud-item
          p#progressText.hud-prefix
            | Question
          #progressBar
            #progressBarFull
      .row
        ul.pager
          a#previous.previous(href='#') &laquo;Previous
          a#next.next(href='#') &raquo;Next
  #final_result.row
    header
      #testName PHQ-15: Somatic Symptom Severity Test
    .col-2
    .col-8.mt-5.mb-5
      .row
        h1 Your PHQ-15 score is
        h1#finalScore score
      .row Somatic Symptom Severity Scale
      .row
        .row.mb-2.justify-content-center
          span#SNormal.border.border-success Minimal
          span#SMild.border.border-warning Low
          span#SModerate.border.border-warning Medium
          span#SSevere.border.border-danger High
      .row
        button#restart.btn-warning(type='button') Restart
        button#home.btn-primary(type='button') Home
    .col-2
script(src='/components/phq15_code.js')
